/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');



/* Variables */
:root {
  --main-grey: #242526;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Globals */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
h1 {
  font-size: 2.5rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: normal;
  color: var(--main-grey);
  text-align: center;
  margin: 2rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0%;
  background-color: transparent;
  background-image: url("../img/background.jpg");
}

/* Navigation Header */
.nav_title {
  font-family: 'Kumbh Sans';
  font-weight: bolder;
  font-size: 3vh;
  color: #edf0f1;
  order: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 550;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  order: 1;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #f20165;
}

.cta {
  padding: 9px 25px;
  background-color: #d4095d;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  order: 3;
  margin-right: 1%;
}

.cta:hover {
  background-color: #e91a40;
}

/* Mobile Navigation Header */
.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--main-grey);
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
  color: #d4095d;
}

.overlay a:hover,
.overlay a:focus {
  color: white;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white
}

/* Calculations with Media for Phones */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* About Us Page*/
.abus{
  background-image: url("../img/background.jpg");
  box-sizing: border-box;
  margin: 0;
  padding: 28vh 10%;
}

.abus-button-top {
  position: absolute;
  left: 75%;
  top: 10%;
  height: 20vw;
  width: auto;
}

.abus-button-top:hover {
  color:  white !important;
  font-weight: 900 !important;
  transform: scale(1.01);
  transition: all 0.3s ease-out 0s;
}

.abus-button {
  position: absolute;
  left: 67.5%;
  top: 30%;
  height: 20vw;
  width: auto;
}

.abus-button:hover {
  color:  white !important;
  font-weight: 900 !important;
  transform: scale(1.01);
  transition: all 0.3s ease-out 0s;
}

.abus-button-bottom {
  position: absolute;
  left: 60%;
  top: 49%;
  height: 20vw;
  width: auto;
}

.abus-button-bottom:hover {
  color:  white !important;
  font-weight: 900 !important;
  transform: scale(1.01);
  transition: all 0.3s ease-out 0s;
}

.abus-title{
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 5%;
  font-size: 7vw;
  font-family: 'Kumbh Sans', sans-serif;
}

.abus-content{
  color: rgb(255, 255, 255);
  font-size: 2.2vw;
  font-family: 'Kumbh Sans', sans-serif;
}

/*Projects*/
.ourp-title{
  margin-top: 10%;
  color: var(--main-grey);
  font-weight: bold;
  font-size: 5vw;
  font-family: 'Kumbh Sans', sans-serif;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  font-family: 'Kumbh Sans', sans-serif;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.4vw;
}

.back{
  background-color: var(--main-grey);
}

.front:after{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: var(--main-grey);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner{
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1.5vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front{
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2.4vw;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4vw;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 300;
}

/* All Projects */


/* Team Members */


/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--main-grey);
  box-sizing: border-box;
  margin: 0;
  padding: 3rem 5%;
}

.copyright-bottom{
  position: relative;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.9vh;
  font-weight: bolder;
  text-align: center;
  margin-top: 0.1vh;
}

.slide-down {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  font-weight: lighter;
  letter-spacing: 0.1vw;
}

.slide-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60%;
  font-weight: lighter;
  letter-spacing: 0.1vw;
}

.space-image {
  align-content: center;
  margin-left: 8%;
  margin-right: 8%;
}

.slide-image {
  align-content: center;
  width: 5vh;
  height: 5vh;
  margin-top: 8%;
  margin-left: 8%;
  margin-right: 8%;
}

.slide-image-two {
  align-content: center;
  width: 5vh;
  height: 5vh;
  margin-left: 8%;
  margin-right: 8%;
}