@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

:root {
  --color-1: #0b56d0;
  --color-2: #0b56d0;
  --color-3: #0b56d0;
  --color-4: #0b56d0;
  --color-5: #0b56d0;
  --color-6: #0b56d0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

